{% comment %}
<!--
Add the following line to your layout on the place where you want the image gallery index to appear:

{% if page.galleries %}{% include image-gallery-index.html %}{% endif %}
Step 4. Add the following front matter to the page where you want the image gallery index to appear:

---
galleries:
  - title: Link to homepage
    image: /uploads/album/1.jpg
    url: /
  - title: Link to image gallery
    image: /uploads/album/2.jpg
    url: /without-plugin/image-gallery
--- 
-->
{% endcomment %}
<style>
    .image-gallery-index {overflow: auto; margin-left: -1%!important;}
    .image-gallery-index a {float: left; display: block; margin: 0 0 1% 1%; width: 19%; text-decoration: none !important;}
    .image-gallery-index a img {width: 100%; display: block;}
    .image-gallery-index a span {display: block; text-align: center; padding: 3px 0;}
</style>

<p class="image-gallery-index">{% for item in page.galleries %}<a href="{{ item.url }}" title="{{ item.title }}"><img src="{{ item.image }}" /><span>{{ item.title }}</span></a>{% endfor %}</p>
