<section class="profile-card">
    <div class="img-container profile-card__img-container">
        <img src="{{site.profile}}" alt="Profile Image" class="img img-container__img">
    </div>
    <div class="text profile__card">
        <div class="author text__author">{{site.title}}</div>
        <p class="description text__description">{{site.description}}</p>
    </div>
    
    <div class="blog-info profile-card__blog-info">
        <div class="s1 blog-info__s1">
            <div class="text s1__text">
                Post
            </div>
            <div class="info s1__info">
                {{ site.posts.size }}
            </div>
        </div>

        <div class="s2 blog-info__s2">
            <div class="text s2__text">
                Category
            </div>
            <div class="info s2__info">
                {{ site.categories.size }}
            </div>
        </div>
        <div class="s3 blog-info__s3">
            <div class="text s3__text">
                Tag
            </div>
            <div class="info s3__info">
                {{ site.tags.size }}
            </div>
        </div>
    </div>

    <div class="social-media profile-card__social-media">
        <a href="https://github.com/jeheecheon" target="_blank" class="github">
            <i class="fab fa-github"></i>
        </a>
        <a href="" target="_blank" class="linkedin">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.instagram.com/jeheecheon/" target="_blank" class="instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</section>