<body onload="initializeLayout()">
  <div class="layout">
    {% include sidebar.html %}

    <div class="page">
      <header class="header">
        <div class="bar header__bar">
          <a href="/" class="logo--container bar__logo--container">
            <img src="{{site.logo}}" alt="logo image" class="logo logo--container__logo">
          </a>
          <!-- <i class="far fa-user-circle logo bar__logo"></i> -->
          <a href="#top" class="title bar__title">
            {% if page.title == site.title %}
            <div class="main-title">
              {{site.title}}
            </div>
            {% else %}
            <div class="main-title">
              {{page.title}}
            </div>
            <div class="sub-title">
              {{site.title}}
            </div>
            {% endif %}
          </a>
          <i class="hamburger bar__hamburger fas fa-bars" onclick="toggleSidebar(0)"></i>
        </div>
        <div class="scroll-indicator header__scroll-indicator"></div>
      </header>

      <main class="main page__main" id="top">
        {{content}}
      </main>

      <footer class="footer page__footer">
        {{site.copyright}}</br>
        Designed by Jehee Cheon.
      </footer>
    </div>
  </div>
</body>
