<nav class="post-items">
  {% for post in paginator.posts %}
  <a class="post-item" href="{{ post.url }}">
    <div class="img-container post-item__img-container">
      <img class="img" src="{{post.image}}" alt="Post Image" />
    </div>
    <div class="text post-item__text">
      <p class="metadata text__metadata">{{ post.date | date: "%a, %B %d, %Y, %H:%M" }} {{post.tags}}</p>
      <h1 class="title text__title">{{ post.title }}</h1>
      <p class="excerpt text_excerpt">{{ post.description | truncate: 100 }}</p>
    </div>
  </a>
  {% endfor %}
</nav>

<!-- Pagination links -->
{% if paginator.page_trail %}
<ul class="trail">
  <li class="item trail__item">
    {% if paginator.previous_page %}
    <a
      class="link item__link"
      href="{{ paginator.previous_page_path | relative_url }}"
      ><i class="fas fa-chevron-left"></i
    ></a>
    {% else %}
    <i class="link item__link fas fa-chevron-left"></i>
    {% endif %}
  </li>

  {% for trail in paginator.page_trail %}
  <li
    class="item trail__item {% if page.url == trail.path %}selected{% endif %}"
  >
    <a
      class="link item__link"
      href="{{ trail.path | relative_url }}"
      title="{{trail.title}}"
      >{{ trail.num }}</a
    >
  </li>
  {% endfor %}

  <li class="item trail__item">
    {% if paginator.next_page %}
    <a
      class="link item__link"
      href="{{ paginator.next_page_path | relative_url }}"
      ><i class="fas fa-chevron-right"></i
    ></a>
    {% else %}
    <i class="link item__link fas fa-chevron-right"></i>
    {% endif %}
  </li>
</ul>
{% endif %}
