<div class="profile-card">
    <div class="img-container profile-card__img-container">
        <img src="{{site.blog.profile}}" alt="" class="img img-container__img">
    </div>
    <div class="text profile__card">
        <div class="name text__name">
        </div>
        <div class="description text__description">
        </div>
    </div>
    <div class="blog-info profile-card__blog-info">
        <div class="s1 blog-info__s1">
            <div class="text s1__text">
                Post
            </div>
            <div class="info s1__info"></div>
        </div>

        <div class="s2 blog-info__s2">
            <div class="text s2__text">
                Category
            </div>
            <div class="info s2__info"></div>
        </div>
        <div class="s3 blog-info__s3">
            <div class="text s3__text">
                Tag
            </div>
            <div class="info s3__info"></div>
        </div>
    </div>
    <div class="social-media profile-card__social-media">
        <div class="github">
            <i class="fab fa-github"></i>
        </div>
        <div class="linkedin">
            <i class="fab fa-linkedin-in"></i>
        </div>
        <div class="instagram">
            <i class="fab fa-instagram"></i>
        </div>
    </div>
</div>