<script src="/assets/js/sidebar.js" defer></script>

<div class="sidebar">
  <i
    class="hamburger sidebar__hamburger fas fa-bars"
    onclick="toggleSidebar(0)"
  ></i>
  <a href="/" class="profile sidebar__profile">
    <div class="profile-img profile__profile-img">
      <div class="img-container profile-img__img-container">
        <img
          src="{{site.profile}}"
          alt="Profile Image"
          class="img img-container__img"
        />
      </div>
    </div>
    <div class="text profile__text">
      <p class="author text__author">{{site.title}}</p>
      <p class="description text__description">{{site.description}}</p>
    </div>
  </a>

  <!-- <div class="search">
    <input
      class="search-btn sidebar__search"
      id="search"
      type="text"
      name="search"
      placeholder="Search posts"
    />
    <i class="fas fa-search search-icon"></i>
  </div> -->
  <!-- <form action="/search">
    <div class="tipue_search_left"><img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon"></div>
    <div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required></div>
    <div style="clear: both;"></div>
  </form> -->
  <form action="/search">
    <div class="tipue_search_group">
    <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required><button type="submit" class="tipue_search_button"><div class="tipue_search_icon">&#9906;</div></button>
    </div>
  </form>

  <div class="navigation sidebar__navigation">
    <div class="categories-container">
      <p class="text">Categories</p>
      {% include categories.html nav=site.data.categories %}
    </div>
  </div>
</div>
