.dictionary-card {  
    padding: 15px 15px 15px;
    @include card();

    .card-title {
        font: 1.3rem "Noto Sans KR", 'Open Sans', Helvetica, Arial, sans-serif;
        color: $baseColor3;
        font-weight: 700;
        text-align: center;
    }

    .word-search {
        height: 60px;
        .search-bar {
            float: left;
            font: 15px "Noto Sans KR", 'Open Sans', Helvetica, Arial, sans-serif;;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: none;
            padding: 9px 0 10px 18px;
            border-radius: 3px;
            -moz-appearance: none;
            -webkit-appearance: none;
            box-sizing: border-box;
            box-shadow: none;
            outline: 0; 

          height: 100%;
          width: calc(100% - 50px);
          background-color: $backgroundColor2;
          color: $baseColor3;
        }
        
        .search-button {
            position: relative;
            float: left;
            margin-left: -3px;
            background-color: #f3f3f3;
            border: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            box-sizing: border-box;
            cursor: pointer;
            outline: 0;

          width: 50px;
          height: 100%;
          background-color: $backgroundColor2;
          color: $baseColor3;
    
          .search-icon {}
        }
    
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
}

