/*In main-----------------------------------*/
/*index.html-----------------------------------*/

.post-items {
  .post-item {
    width: 100%;
    background-color: $backgroundColor1;
    display: inline-block;

    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: 3px 3px 5px 2px $shadowColor;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;

    .img-container {
      height: 220px;
      position: relative;
      overflow: hidden;

      .img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 100%;
      }

      .title {
        position: absolute;
        color: $baseColor4;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: rgba(241, 241, 241, 0.7);
        text-align: center;
        padding: 10px;
        border-radius: 7px;
        font-size: 1.5rem;
      }
    }

    .text {
      display: block;
      width: 100%;
      // max-height: 180px;
      overflow: hidden;
      padding: 7px;
      text-align: center;

      .tag {
        font-size: 0.8rem;
        text-align: center;
        color: $baseColor3;
      }

      .excerpt {
        display: block;
        font-size: 1rem;
        color: $baseColor4;
      }

      .date, .categories {
        font-size: 0.8rem;
        text-align: right;
        color: $baseColor3;
      }
    }
    &:hover {
      transform: scale(1.03, 1.05);
    }
  }
}

.trail {
  text-align: center;
  margin-bottom: 20px;

  .item {
    font: 15px 'Source Code Pro', sans-serif;

    display: inline-block;
    margin: 0 3.5px;

    font-size: 1rem;
    text-transform: uppercase;
    list-style-type: none;
    background-color: $baseColor1;


    border-radius: 3px;
    transition: 0.3s;

    transition: transform 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    .link {
      display: block;
	    padding: 10px 17px 11px 17px;

      text-decoration: none;
      color: $backgroundColor1;
    }

    &:hover {
      background-color: rgb(41, 102, 151);
    }
  }

  .selected {
    background-color: rgb(41, 102, 151);

    .link {
      cursor: none;
      color: $backgroundColor1;
    }
  }

  .null {
    cursor: none;
  }
}
