/*In main-----------------------------------*/
/*page layout-----------------------------------*/

.content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1488px;

  .main-content {
    margin-top: 80px;
    float: left;
    max-width: 808px;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .l-content, .r-content{
    float: left;
    margin: 80px 20px;
    width: 300px;
    min-height: 1px;
  }

  .l-content {
    @import "profile";
  }

  .r-content {

  }
  
  //clear
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
