/*In main-----------------------------------*/
/*post layout-----------------------------------*/

.post-cover {
  position: relative;
  height: 100vh;
  width: 100%;

  .img {
    z-index: 1;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

    border-radius: 15px;
    box-shadow: 3px 3px 5px 2px $baseColor5;

    -webkit-filter: blur(1.5px);
    filter: blur(1.5px);
  }

  .text {
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .title {
      font-size: 3.5rem;
    }
  }

  .background {
    z-index: 0;

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    color: white;

    .button--goToIndex {
      position: absolute;
      visibility: hidden;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      @include removeDeco();
      color: white;

      display: inline-block;
      padding: 1em;
      font-family: Helvetica Neue;
      border-radius: 30%;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30%;
        filter: blur(10px);
        z-index: -1;

        animation: reflection 2.5s infinite ease-in-out;
        background: linear-gradient(
          90deg,
          transparent 0%,
          transparent 80%,
          rgba(247, 247, 247, 0.07) 90%,
          transparent 100%
        );
        background-size: 200% 100%;
      }
    }
  }
}

.post__content {
  position: relative;
  width: 100%;

  .main-content {
    background-color: $baseColor3;
    box-shadow: 1px 1px 1px 1px $baseColor5;
    transition: top 0.5s ease-in-out;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    top: -20vh;
    z-index: 2;
    border-radius: 5px;

    padding: 20px;
    max-width: 768px;
    font-size: 1rem;
    word-break: break-all;
  }

  // .j-space {
  //   position: absolute;
  //   display: block;
  //   width: 100%;
  //   .side-content {

  //   }
  // }
}

.comment {
}

@media screen and (max-width: 768px) {
  .post__content {
    .main-content {
      top: 0px;
    }
  }
}
