/*In main-----------------------------------*/
/*post layout-----------------------------------*/

.post-cover {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .img {
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }

  .text {
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .title {
      font-size: 3.5rem;
    }
  }

  .background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(71, 71, 71, 0.4);
    color: white;

    .button--goToIndex {
      position: absolute;
      visibility: hidden;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      @include removeDeco();
      color: white;

      display: inline-block;
      padding: 1em;
      font-family: Helvetica Neue;
      border-radius: 30%;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30%;
        filter: blur(10px);
        z-index: -1;

        animation: reflection 2.5s infinite ease-in-out;
        background: linear-gradient(
          90deg,
          transparent 0%,
          transparent 80%,
          rgba(247, 247, 247, 0.07) 90%,
          transparent 100%
        );
        background-size: 200% 100%;
      }
    }
  }
}

.post__content {
  position: relative;
  width: 100%;




  .main-content {
    background-color: $baseColor3;

    position: relative;
    top: -20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0.5;
    border-radius: 5px;
    // box-shadow: 1px 1px 2px 1px $baseColor5;
    box-sizing: content-box;
    padding: 20px 20px 0;
    max-width: 728px;
    width: calc(100% - 40px);
    height: fit-content;
    font-size: 1rem;
    word-break: break-all;
  }

  // .j-space {
  //   position: absolute;
  //   display: block;
  //   width: 100%;
  //   .side-content {

  //   }
  // }
}

.comment {
}

@media screen and (max-width: 1268px) {
  .side-content {
    display: none;
  }
}
