.profile-card {  
  padding: 15px 15px 30px;
  @include card();

  .img-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);

    .img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: auto;
    }
  }

  .text {
    text-align: center;
    font-size: 1.8rem;
    .name {
      color: $baseColor3;
    }
    .description {
      font-size: 1rem;
      color: $baseColor5;
    }
  }

  .blog-info {
    text-align: center;
    margin-top: 20px;
    width: 100%;

    .s1,
    .s2,
    .s3 {
      width: 28%;
      display: inline-block;

      .text {
        display: inline-block;
        font-size: 1rem;
        color: $baseColor3;
      }
      .info {
      color: $baseColor5;

      }
    }
  }

  .social-media {
    margin-top: 20px;
    width: 100%;
    text-align: center;

    .github,
    .linkedin,
    .instagram {
      cursor: pointer;
      display: inline-block;
      font-size: 2rem;

      color: $baseColor5;
      transition: color 0.5s ease-in-out;

      text-align: center;
      width: 28%;
      box-shadow: 3px 3px 5px 2px $shadowColor;
      border-radius: 5px;


      &:hover {
        color: white;
        background-color: $baseColor5;
      }
    }
    .linkedin {
      margin: 0 5%;
    }
  }
}
