.tag-content {
    box-shadow: 3px 3px 5px 2px $shadowColor;
    border-radius: 5px;
    width: 100%;
    background-color: $backgroundColor1;
    padding: 10px;
    min-height: 415.33px;

    .text {
        text-align: center;
        display: block;
        padding: 20px 0;
        color: $baseColor5;
        font-weight: 800;
        font-size: 1.5rem;
    }

    .tag-cloud {
        display: inline-block;
        text-decoration: none;
        padding: 5px 15px; 
        border-radius: 40%; 
        background-color: $baseColor1;
        color: white;
        margin: 5px 0;
    }
}

