---
---

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Noto Sans KR", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

pre {
  font-family: "Noto Sans KR", Helvetica, Arial, sans-serif;
}

@mixin card {
  margin-bottom: 30px;
  box-shadow: 3px 3px 5px 2px $shadowColor;
  border-radius: 5px;
  width: 100%;
  background-color: $backgroundColor1;
}

@keyframes reflection {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}

$shadowColor: rgb(170, 170, 170);
$headerColor: rgba(189, 218, 241, 0.7);
$sidebarColor: rgba(189, 218, 241, 0.7);

$baseColor1: rgba(189, 218, 241, 0.7);
$baseColor2: rgb(149, 191, 226);
$baseColor3: rgb(41, 102, 151);
$baseColor4: rgb(12, 64, 107);
$baseColor5: rgb(70, 70, 70);

$backgroundColor1: rgb(255, 255, 255);
$backgroundColor2: rgb(245, 245, 245);

/////////////////////////////////////////////////////////////

@at-root .header--hide {
  transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
}

@import "sidebar";

.layout {
  background-color: $backgroundColor2;

  .page {
    float: left;
    width: 100%;
    transition: width 0.5s ease-in-out;
    min-height: 100vh;
    overflow-x: hidden;

    .header {
      z-index: 3;

      width: 100%;
      position: fixed;
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;

      .bar {
        background-color: $headerColor;
        box-shadow: 3px 3px 5px $shadowColor;

        transition: background-color 0.6s ease-in-out;
        -moz-transition: background-color 0.6s ease-in-out;
        -o-transition: background-color 0.6s ease-in-out;
        -webkit-transition: background-color 0.6s ease-in-out;

        height: 50px;
        width: 100%;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        text-align: center;

        .logo,
        .hamburger {
          box-sizing: border-box;
          font-size: 30px;
          padding: 3px 10px;
          cursor: pointer;
        }

        .hamburger {
          color: $baseColor5;
          margin-right: 10px;
          border-radius: 5px;
        }

        .title {
          color: $baseColor5;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex-grow: 1;

          text-decoration: none;

          .main-title {
            font-size: 1.2rem;
            font-weight: 700;
          }
          .sub-title {
            font-size: 0.8rem;
          }
        }
      }

      .scroll-indicator {
        height: 6px;

        transition: width 0.1s ease-out;
        -moz-transition: width 0.1s ease-out;
        -o-transition: width 0.1s ease-out;
        -webkit-transition: width 0.1s ease-out;

        width: 0%;
        background-color: $baseColor2;
      }
    }

    .main {
      min-height: fit-content;
      @import "page", "post", "pagination";
    }

    .footer {
      .inner {
        padding: 0 30px;
        text-align: center;
      }
    }
  }
}

//clear
.layout::after {
  content: "";
  display: block;
  clear: both;
}

/////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  // .layout .page {
  //   width: 100%;
  //   .header {
  //     width: 100%;
  //   }
  // }
}
