* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 18px; font-family: "Noto Sans KR", Helvetica, Arial, sans-serif; line-height: 1.5; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; text-size-adjust: 100%; }

pre { font-family: "Noto Sans KR", Helvetica, Arial, sans-serif; }

@keyframes reflection { from { background-position: 0% 100%; }
  to { background-position: 200% 100%; } }

.sidebar { z-index: 1; float: right; height: 100vh; width: 300px; position: fixed; right: 0; overflow-x: hidden; background-color: #bddaf1; box-shadow: 5px 5px 13px 5px #95bfe2; }

.sidebar .profile { text-decoration: none; color: #212121; }

.sidebar .profile .inner { margin: 13px 10px; padding: 15px; border: 2px solid #95bfe2; }

.sidebar .profile .inner .img { text-decoration: none; color: #212121; text-align: center; font-size: 6rem; position: relative; left: 50%; transform: translateX(-50%); }

.sidebar .profile .inner .img:after { content: ""; margin: 25px 0 10px; width: 100px; height: 5px; background-color: #95bfe2; display: block; border-radius: 16%; }

.sidebar .profile .inner .text { width: 230px; padding: 10px 0; background-color: rgba(255, 255, 255, 0.6); border-radius: 5%; text-align: center; position: relative; left: 50%; transform: translateX(-50%); }

.sidebar .profile .inner .text .author { color: lightslategray; font-size: 1.5rem; font-weight: bold; }

.sidebar .profile .inner .text .description { font-size: 1rem; }

.sidebar .search { position: relative; }

.sidebar .search .search-btn { border: none; width: 100%; height: 60px; background-color: #eeeeee; padding: 0 10px; }

.sidebar .search .search-btn:focus { outline: none; }

.sidebar .search .search-icon { position: absolute; left: 10px; top: 50%; transform: translateY(-50%); }

.sidebar .navigation .categories-container { margin: 10px; }

.sidebar .navigation .categories-container:after { content: ""; display: block; width: 100%; height: 2px; background-color: #95bfe2; }

.sidebar .navigation .categories-container .text { text-align: center; font-size: 1.5rem; }

.sidebar .navigation .categories-container .categories .category { border-top: 2px solid #95bfe2; transition: background-color 0.5s ease-in-out; display: flex; }

.sidebar .navigation .categories-container .categories .category i { padding: 8px 0; width: 30px; text-align: center; font-size: 1.5rem; cursor: pointer; }

.sidebar .navigation .categories-container .categories .category a { flex-grow: 1; padding: 8px 0; display: inline-block; text-decoration: none; color: #212121; }

.sidebar .navigation .categories-container .categories .category:hover { background-color: #95bfe2; }

.sidebar .navigation .categories-container .subnav { transition: opacity 1s ease-out; opacity: 1; height: auto; padding-left: 30px; }

.sidebar .navigation .categories-container .subnav--hide { opacity: 0; height: 0; overflow: hidden; }

.page { float: left; width: calc(100% - 300px); min-height: 100vh; }

.header--hide { transform: translateY(-50px); -moz-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); -webkit-transform: translateY(-50px); }

.page .header { width: calc(100% - 300px); position: fixed; transition: transform 0.5s ease-in-out; -moz-transition: -moz-transform 0.5s ease-in-out; -o-transition: -o-transform 0.5s ease-in-out; -webkit-transition: -webkit-transform 0.5s ease-in-out; z-index: 1; }

.page .header .bar { background-color: rgba(255, 255, 255, 0.8); transition: background-color 0.6s ease-in-out; -moz-transition: background-color 0.6s ease-in-out; -o-transition: background-color 0.6s ease-in-out; -webkit-transition: background-color 0.6s ease-in-out; height: 50px; width: 100%; }

.page .header .bar .logo { float: left; font-size: 2rem; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); }

.page .header .bar .title { float: left; text-decoration: none; color: #212121; text-align: center; display: inline-block; position: absolute; left: 50%; transform: translateX(-50%); }

.page .header .bar .title .main-title { font-size: 1rem; }

.page .header .bar .title .sub-title { font-size: 0.7rem; }

.page .header .bar .hamburger { cursor: pointer; float: left; font-size: 22px; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); }

.page .header .scroll-indicator { height: 8px; transition: width 0.1s ease-out; -moz-transition: width 0.1s ease-out; -o-transition: width 0.1s ease-out; -webkit-transition: width 0.1s ease-out; width: 0%; background-color: #95bfe2; }

.page .main { background-color: whitesmoke; min-height: fit-content; /*In main-----------------------------------*/ /*page layout-----------------------------------*/ /*In main-----------------------------------*/ /*post layout-----------------------------------*/ /*In main-----------------------------------*/ /*index.html-----------------------------------*/ }

.page .main .content { width: fit-content; margin: 0 auto; background-color: whitesmoke; }

.page .main .content .main-content { margin-top: 80px; float: left; max-width: 768px; width: 768px; box-sizing: content-box; padding: 0 20px; }

.page .main .content .l-content, .page .main .content .r-content { float: left; background-color: red; margin: 80px 20px; width: 300px; min-height: 1px; height: fit-content; }

.page .main .content::after { content: ""; display: block; clear: both; }

.page .main .post-cover { position: relative; height: 100vh; width: 100%; overflow: hidden; }

.page .main .post-cover .img { position: relative; object-fit: cover; width: 100%; height: 100%; -webkit-filter: blur(3px); filter: blur(3px); }

.page .main .post-cover .text { color: white; z-index: 1; position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

.page .main .post-cover .text .title { font-size: 3.5rem; }

.page .main .post-cover .background { position: absolute; top: 0; height: 100%; width: 100%; background-color: rgba(71, 71, 71, 0.4); color: white; }

.page .main .post-cover .background .button--goToIndex { position: absolute; visibility: hidden; top: 2px; left: 50%; transform: translateX(-50%); z-index: 2; text-decoration: none; color: #212121; color: white; display: inline-block; padding: 1em; font-family: Helvetica Neue; border-radius: 30%; }

.page .main .post-cover .background .button--goToIndex:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 30%; filter: blur(10px); z-index: -1; animation: reflection 2.5s infinite ease-in-out; background: linear-gradient(90deg, transparent 0%, transparent 80%, rgba(247, 247, 247, 0.07) 90%, transparent 100%); background-size: 200% 100%; }

.page .main .post__content { position: relative; width: 100%; }

.page .main .post__content .main-content { position: absolute; top: -400px; left: 50%; transform: translateX(-50%); z-index: 0.5; background-color: white; border-radius: 5px; box-sizing: content-box; padding: 20px 20px 0; max-width: 728px; width: calc(100% - 40px); font-size: 1rem; word-break: break-all; }

.page .main .post__content .j-space { position: relative; z-index: -1; margin: 0; }

.page .main .post__content .j-space .side-content { padding: 20px 0 0 20px; position: sticky; top: 8%; width: 300px; height: 600px; }

.page .main .post__content .comment { width: 100%; height: 100px; }

@media screen and (max-width: 1268px) { .page .main .side-content { display: none; } }

.page .main .post-items .post-item { width: 100%; height: fit-content; float: left; margin-bottom: 100px; box-shadow: 2px 2px 4px #aaaaaa; border-radius: 5px; text-decoration: none; color: #212121; }

.page .main .post-items .post-item .img-container { width: 100%; height: 250px; position: relative; overflow: hidden; }

.page .main .post-items .post-item .img-container .img { top: 50%; left: 50%; position: relative; transform: translate(-50%, -50%); height: auto; width: 100%; }

.page .main .post-items .post-item .text { width: 100%; height: 40%; text-align: center; }

.page .main .post-items::after { content: ""; display: block; clear: both; }

.page .footer .inner { padding: 0 30px; text-align: center; }

.layout::after { content: ""; display: block; clear: both; }

/*# sourceMappingURL=main.css.map */