---
---

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Noto Sans KR", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

pre {
  font-family: "Noto Sans KR", Helvetica, Arial, sans-serif;
}

@mixin removeDeco {
  text-decoration: none;
  color: #212121;
}

@keyframes reflection {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 200% 100%;
  }
}

$baseColor1: rgb(189, 218, 241);
$baseColor2: rgb(149, 191, 226);
$baseColor3: rgb(64, 95, 121);
$baseColor4: rgb(245, 245, 245);
// $baseColor1: rgba(112, 179, 233, 0.459);
// $baseColor2: rgba(102, 171, 228, 0.445);
// rgb(189, 218, 241)
/////////////////////////////////////////////////////////////

.sidebar {
  z-index: 1;
  float: right;
  height: 100vh;
  width: 300px;
  position: fixed;
  right: 0;

  overflow-x: hidden;
  background-color: $baseColor1;
  box-shadow: 5px 5px 13px 5px $baseColor2;

  .profile {
    @include removeDeco();
    .inner {
      margin: 13px 10px;
      padding: 15px;
      border: 2px solid $baseColor2;
      
      .img {
        @include removeDeco();
        text-align: center;
        font-size: 6rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        

        &:after {
          content: "";
          margin: 25px 0 10px;
          width: 100px;
          height: 5px;
          background-color: $baseColor2;
          display: block;
          border-radius: 16%;
        }
      }
      .text {        
        width: 230px;
        padding: 10px 0;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5%;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        .author {
          color: rgb(119, 136, 153);
          font-size: 1.5rem;
          font-weight: bold;
        }
        .description {
          font-size: 1rem;
        }
      }
    }
  }

  .search {
    position: relative;

    .search-btn {
      border: none;
      width: 100%;
      height: 60px;
      background-color: #eeeeee;
      padding: 0 10px;

      &:focus {
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .navigation {
    .categories-container {
      
      margin: 10px;
      //border-radius: 5%;
      //border: 2px solid $baseColor2;
      //box-shadow: 3px 3px 5px 4px $baseColor2;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $baseColor2;
      }
      .text {
        text-align: center;
        font-size: 1.5rem;      
      }
      .categories { //ul
        .category { //li
          border-top: 2px solid $baseColor2;
          transition: background-color 0.5s ease-in-out;

          display: flex;
          i {
            padding: 8px 0;
            width: 30px;
            text-align: center;
            font-size: 1.5rem;
            cursor: pointer;
          }
          a {
            flex-grow: 1;
            padding: 8px 0;
            display: inline-block;
            @include removeDeco();
          }

          &:hover {
            background-color: $baseColor2;
          }
        }
      }
  
      .subnav { //ul
        transition: opacity 1s ease-out;
        opacity: 1;
        height: auto;
        padding-left: 30px;
      }
      .subnav--hide {
        opacity: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }  
}

.page {
  float: left;
  width: calc(100% - 300px);
  min-height: 100vh;

  @at-root .header--hide {
    transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
  .header {
    width: calc(100% - 300px);
    position: fixed;
    transition: transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    z-index: 1;

    .bar {
      background-color: rgba(255, 255, 255, 0.8);

      transition: background-color 0.6s ease-in-out;
      -moz-transition: background-color 0.6s ease-in-out;
      -o-transition: background-color 0.6s ease-in-out;
      -webkit-transition: background-color 0.6s ease-in-out;

      height: 50px;
      width: 100%;

      .logo {
        float: left;
        font-size: 2rem;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .title {
        float: left;
        @include removeDeco();
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
        .main-title {
          font-size: 1rem;
        }
        .sub-title {
          font-size: 0.7rem;
        }
      }

      .hamburger {
        cursor: pointer;

        float: left;
        font-size: 22px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .hamburger:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .scroll-indicator {
      height: 8px;

      transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out;

      width: 0%;
      background-color: $baseColor1;
    }
  }

  .main {
    min-height: fit-content;
    @import "page", "post", "index";
  }

  .footer {
    .inner {
      padding: 0 30px;
      text-align: center;
    }
  }
}

//clear
.page::after {
  content: "";
  display: block;
  clear: both;
}

/////////////////////////////////////////////////
@media screen and (max-width: 1068px) {

}