* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 18px; font-family: "Noto Sans KR", Helvetica, Arial, sans-serif; line-height: 1.5; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; text-size-adjust: 100%; }

pre { font-family: "Noto Sans KR", Helvetica, Arial, sans-serif; }

@keyframes reflection { from { background-position: 0% 100%; }
  to { background-position: 200% 100%; } }

.header--hide { transform: translateY(-50px); -moz-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); -webkit-transform: translateY(-50px); }

.sidebar { z-index: 3; float: right; height: 100vh; width: 300px; position: fixed; right: -300px; transition: all 0.5s ease-in-out; overflow-x: hidden; background-color: #bddaf1; box-shadow: 3px 3px 5px 5px #aaaaaa; }

.sidebar .hamburger { display: none; font-size: 30px; padding: 0 10px; cursor: pointer; }

.sidebar .profile { display: block; text-decoration: none; color: #212121; margin: 13px 10px; padding: 15px; border: 2px solid #95bfe2; }

.sidebar .profile .profile-img .img-container { width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%; left: 50%; transform: translateX(-50%); }

.sidebar .profile .profile-img .img-container .img { position: relative; top: 50%; transform: translateY(-50%); width: 100%; height: auto; }

.sidebar .profile .profile-img::after { display: block; content: ""; width: 150px; height: 7px; border-radius: 10px; background-color: #95bfe2; position: relative; left: 50%; transform: translateX(-50%); margin: 10px 0; }

.sidebar .profile .text { width: 230px; padding: 10px 0; background-color: rgba(255, 255, 255, 0.6); border-radius: 5%; text-align: center; position: relative; left: 50%; transform: translateX(-50%); }

.sidebar .profile .text .author { color: lightslategray; font-size: 1.5rem; font-weight: bold; }

.sidebar .profile .text .description { font-size: 1rem; }

.sidebar .search { position: relative; }

.sidebar .search .search-btn { border: none; width: 100%; height: 60px; background-color: #eeeeee; padding: 0 10px; }

.sidebar .search .search-btn:focus { outline: none; }

.sidebar .search .search-icon { position: absolute; left: 10px; top: 50%; transform: translateY(-50%); }

.sidebar .navigation .categories-container { margin: 10px; }

.sidebar .navigation .categories-container:after { content: ""; display: block; width: 100%; height: 2px; background-color: #95bfe2; }

.sidebar .navigation .categories-container .text { text-align: center; font-size: 1.5rem; }

.sidebar .navigation .categories-container .categories .category { border-top: 2px solid #95bfe2; transition: background-color 0.5s ease-in-out; display: flex; }

.sidebar .navigation .categories-container .categories .category i { padding: 8px 0; width: 30px; text-align: center; font-size: 1.5rem; cursor: pointer; }

.sidebar .navigation .categories-container .categories .category a { flex-grow: 1; padding: 8px 0; display: inline-block; text-decoration: none; color: #212121; }

.sidebar .navigation .categories-container .categories .category:hover { background-color: #95bfe2; }

.sidebar .navigation .categories-container .subnav { transition: opacity 1s ease-out; opacity: 1; height: auto; padding-left: 30px; }

.sidebar .navigation .categories-container .subnav--hide { opacity: 0; height: 0; overflow: hidden; }

.page { float: left; width: 100%; transition: width 0.5s ease-in-out; min-height: 100vh; overflow-x: hidden; }

.page .header { width: 100%; position: fixed; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; z-index: 1; }

.page .header .bar { background-color: rgba(255, 255, 255, 0.7); box-shadow: 3px 3px 5px #aaaaaa; transition: background-color 0.6s ease-in-out; -moz-transition: background-color 0.6s ease-in-out; -o-transition: background-color 0.6s ease-in-out; -webkit-transition: background-color 0.6s ease-in-out; height: 50px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

.page .header .bar .logo, .page .header .bar .hamburger { font-size: 30px; padding: 0 10px; cursor: pointer; }

.page .header .bar .title { -webkit-box-flex: 1; -ms-flex: 1; flex-grow: 1; text-decoration: none; color: #212121; }

.page .header .bar .title .main-title { font-size: 1rem; }

.page .header .bar .title .sub-title { font-size: 0.7rem; }

.page .header .scroll-indicator { height: 8px; transition: width 0.1s ease-out; -moz-transition: width 0.1s ease-out; -o-transition: width 0.1s ease-out; -webkit-transition: width 0.1s ease-out; width: 0%; background-color: #95bfe2; }

.page .main { background-color: whitesmoke; min-height: fit-content; /*In main-----------------------------------*/ /*page layout-----------------------------------*/ /*In main-----------------------------------*/ /*post layout-----------------------------------*/ /*In main-----------------------------------*/ /*index.html-----------------------------------*/ }

.page .main .content { position: relative; left: 50%; transform: translateX(-50%); max-width: 1488px; }

.page .main .content .main-content { margin-top: 80px; float: left; max-width: 808px; box-sizing: border-box; padding: 0 20px; }

.page .main .content .l-content, .page .main .content .r-content { float: left; margin: 80px 20px; width: 300px; min-height: 1px; }

.page .main .content .l-content .profile-card { position: sticky; padding: 15px 15px 30px; box-shadow: 3px 3px 5px 2px #aaaaaa; border-radius: 5px; width: 100%; background-color: white; }

.page .main .content .l-content .profile-card .img-container { width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%; left: 50%; transform: translateX(-50%); }

.page .main .content .l-content .profile-card .img-container .img { position: relative; top: 50%; transform: translateY(-50%); width: 100%; height: auto; }

.page .main .content .l-content .profile-card .text { text-align: center; font-size: 1.5rem; }

.page .main .content .l-content .profile-card .text .description { font-size: 1.5rem; color: #464646; }

.page .main .content .l-content .profile-card .blog-info { text-align: center; margin-top: 20px; }

.page .main .content .l-content .profile-card .blog-info .s1, .page .main .content .l-content .profile-card .blog-info .s2, .page .main .content .l-content .profile-card .blog-info .s3 { width: 28%; display: inline-block; }

.page .main .content .l-content .profile-card .blog-info .s1 .text, .page .main .content .l-content .profile-card .blog-info .s2 .text, .page .main .content .l-content .profile-card .blog-info .s3 .text { display: inline-block; font-size: 1rem; color: #464646; }

.page .main .content .l-content .profile-card .social-media { margin-top: 20px; width: 100%; text-align: center; }

.page .main .content .l-content .profile-card .social-media .github, .page .main .content .l-content .profile-card .social-media .linkedin, .page .main .content .l-content .profile-card .social-media .instagram { cursor: pointer; display: inline-block; font-size: 2rem; color: #464646; text-align: center; width: 28%; box-shadow: 3px 3px 5px 2px #aaaaaa; border-radius: 5px; }

.page .main .content .l-content .profile-card .social-media .github:hover, .page .main .content .l-content .profile-card .social-media .linkedin:hover, .page .main .content .l-content .profile-card .social-media .instagram:hover { background-color: #aaaaaa; }

.page .main .content .l-content .profile-card .social-media .linkedin { margin: 0 5%; }

.page .main .content::after { content: ""; display: block; clear: both; }

.page .main .post-cover { position: relative; height: 100vh; width: 100%; overflow: hidden; }

.page .main .post-cover .img { top: 50%; left: 50%; position: relative; transform: translate(-50%, -50%); height: auto; width: 100%; -webkit-filter: blur(3px); filter: blur(3px); }

.page .main .post-cover .text { color: white; z-index: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

.page .main .post-cover .text .title { font-size: 3.5rem; }

.page .main .post-cover .background { position: absolute; top: 0; height: 100%; width: 100%; background-color: rgba(71, 71, 71, 0.4); color: white; }

.page .main .post-cover .background .button--goToIndex { position: absolute; visibility: hidden; top: 2px; left: 50%; transform: translateX(-50%); z-index: 2; text-decoration: none; color: #212121; color: white; display: inline-block; padding: 1em; font-family: Helvetica Neue; border-radius: 30%; }

.page .main .post-cover .background .button--goToIndex:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 30%; filter: blur(10px); z-index: -1; animation: reflection 2.5s infinite ease-in-out; background: linear-gradient(90deg, transparent 0%, transparent 80%, rgba(247, 247, 247, 0.07) 90%, transparent 100%); background-size: 200% 100%; }

.page .main .post__content { position: relative; width: 100%; }

.page .main .post__content .main-content { background-color: white; position: relative; top: -20vh; left: 50%; transform: translateX(-50%); z-index: 0.5; border-radius: 5px; box-sizing: content-box; padding: 20px 20px 0; max-width: 728px; width: calc(100% - 40px); height: fit-content; font-size: 1rem; word-break: break-all; }

@media screen and (max-width: 768px) { .page .main .post__content .main-content { top: 0px; } }

.page .main .post-items .post-item { width: 100%; float: left; background-color: white; margin-bottom: 50px; box-shadow: 3px 3px 5px 2px #aaaaaa; border-radius: 5px; text-decoration: none; color: #212121; transition: transform 0.5s ease-in-out; }

.page .main .post-items .post-item .img-container { height: 220px; position: relative; overflow: hidden; }

.page .main .post-items .post-item .img-container .img { top: 50%; left: 50%; position: relative; transform: translate(-50%, -50%); height: auto; width: 100%; }

.page .main .post-items .post-item .text { display: block; width: 100%; max-height: 130px; overflow: hidden; padding: 7px; text-align: center; }

.page .main .post-items .post-item .text .metadata { font-size: 0.8rem; text-align: left; }

.page .main .post-items .post-item .text .title { font-size: 2rem; }

.page .main .post-items .post-item .text .excerpt { font-size: 1rem; }

.page .main .post-items .post-item:hover { transform: scale(1.08, 1.08); }

.page .main .post-items::after { content: ""; display: block; clear: both; }

.page .footer .inner { padding: 0 30px; text-align: center; }

.layout::after { content: ""; display: block; clear: both; }

/*# sourceMappingURL=main.css.map */