---
layout: default
pagination:
  enabled: true
---

{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}

<a class="blog-title" href="/">{{page.title}}</a>

<div class="recent-posts">
  <nav class="post-items">
    {% for post in paginator.posts %}
    <div class="wrapper post-items__wrapper">
      <a class="post-item wrapper__post-item" href="{{ post.url }}">
        <img class="img post-item__img" src="{{post.image}}" alt="">
        <h1 class="title post-item__title">{{ post.title }}</h1>
        <span class="date post-item__date">{{ post.date }}</span>
      </a>
    </div>
    {% endfor %}
  </nav>
</div>



<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">
    Previous
  </a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>