---
layout: default
comments: true
---

<script src="/assets/js/post.js" defer></script>

<section class="post main__post">
  <div class="post-cover post__post-cover">
    <img class="img post-cover__img" src="{{page.image}}" alt="Cover Image of Post" />
    <div class="background post-cover__background">
      <a href="/" class="button--goToIndex">
        <pre>Click Here To Go To Index!</pre>
      </a>
    </div>
    <div class="text post-cover__text">
      <h1 class="title text__title">{{page.title}}</h1>
      <p class="date text__date">{{page.date | date: "%a, %B %d, %Y, %H:%M"}}</p>
    </div>
  </div>

  <div class="content post__content">
    <div class="inner content__inner">
      <div class="l-content inner__l-content">
        {% include profile_card.html %}
      </div>
      <div class="main-content inner__main-content">{{content}}</div>
      <div class="r-content inner__r-content">
        {% include category_card.html %}
      </div>
    </div>
  </div>

  {% if site.related_posts.size >= 1 %}
  <div class="related-posts post__related-posts">
    <div class="text related-posts__text">Related Posts</div>

    <div class="inner related-posts__inner">
      {% for related_post in site.related_posts limit: 4 %}
      <a href="{{ related_post.url }}" class="related-post">
        <img
          class="post-img"
          src="{{ related_post.image }}"
          alt="related_post.image"
        />
        <div class="post-title">{{ related_post.title }}</div>
        <div class="post-excerpt">
          {{ related_post.excerpt | truncate: 50 }}
        </div>
        <div class="post-date">{{ related_post.date }}</div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="comment post__comment">
    <div id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var disqus_config = function () {
        this.page.url = "https://jeheecheon.github.io{{ page.url }}"; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function () {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://jeheecheon-github-io.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    >
  </div>
</section>
