---
layout: default
comments: true
---

<script src="{{ "/assets/js/post.js" | prepend: site.baseurl | prepend: site.url }}" defer></script>

{% assign lastCate = page.categories | last %}
{% assign lastTag = page.tags | last %}
<section class="post main__post">
  <div class="post-cover post__post-cover">
    <img class="img post-cover__img" src="{{page.image | prepend: site.baseurl | prepend: site.url}}" alt="Cover Image of Post" />
    <div class="background post-cover__background">
      <a href="{{"/"| prepend: site.baseurl | prepend: site.url}}" class="button--goToIndex">
        <pre>Click Here To Go To Index!</pre>
      </a>
    </div>
    <div class="text post-cover__text">
      <a href="{{ lastCate | downcase | prepend: "/" | prepend: site.autopages.categories.dir | prepend: "/" | prepend: site.baseurl | prepend: site.url }}" class="category text__category">{{ lastCate }}</a>
      <h1 class="title text__title">{{page.title}}</h1>
      <a href="/" class="author text__author">
        <img src="{{site.logo | prepend: site.baseurl | prepend: site.url}}" alt="logo image" class="logo author__logo">
        <p class="name author__name">{{site.author}}</p>
      </a>
      <p class="date text__date">{{page.date | date: "%b %d %Y, %H:%M"}}</p>
    </div>
  </div>

  <div class="content post__content">
    <div class="inner content__inner">
      <div class="l-content inner__l-content">
        {% include cards/profile_card.html %}
      </div>
      <div class="main-content inner__main-content">
        {{content}}
        <div class="tags main-content__tags">
          {% for tag in page.tags %}
          <a href="{{ tag | downcase | prepend: "/" | prepend: site.autopages.tags.dir | prepend: "/" | prepend: site.baseurl | prepend: site.url }}" class="tag tags__tag">
            #{{tag}}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="r-content inner__r-content">
        {% include cards/category_card.html %}
      </div>
    </div>
  </div>

  {% if site.related_posts.size >= 1 %}
  <div class="related-posts post__related-posts">
    <div class="text related-posts__text">Related Posts</div>

    <div class="inner related-posts__inner">
      {% for related_post in site.related_posts limit: 4 %}
      <a href="{{ related_post.url | prepend: site.baseurl | prepend: site.url }}" class="related-post">
        <img
          class="post-img"
          src="{{ related_post.image | prepend: site.baseurl | prepend: site.url}}"
          alt="related_post.image"
        />
        <p class="post-title">{{ related_post.title }}</p>
        <p class="post-date">{{ related_post.date | date: "%b %d %Y, %H:%M"}}</p>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="comment post__comment">
    <div id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}"; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function () {
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement("script");
        s.src = "https://jeheecheon-github-io.disqus.com/embed.js";
        s.setAttribute("data-timestamp", +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    >
  </div>
</section>
